
.heading{
    text-align: center;
    text-decoration: underline;
}
#heading{
    text-align: center;
    text-decoration: underline;
}
.sem{
    margin: 10px 10px;
}
.box-1{
    display: flex;
    margin: 10px 2px;
    padding: 10px 2px;
    margin-left: 88px;
}

@media (min-width: 200px) and (max-width:390px){
    .heading{
        /* text-align: center; */
        margin: 10px 10px;
        text-decoration: underline;
    }
    #heading{
        text-align: center;
        margin: 10px 51px;
        text-decoration: underline;
    }
    .box-1{
        display: block;
        margin: 60px 20px;
        padding: 40px 50px;
    }
    .sem{
        margin: 10px 110px;
    }
}
@media (min-width: 390px) and (max-width:500px){
    #heading{
        text-align: center;
        margin: 10px 51px;
        text-decoration: underline;
    }
    .box-1{
        display: block;
        margin: 60px 50px;
        padding: 40px 75px;
    }
    .sem{
        margin: 10px 115px;
    }
}
@media (min-width: 500px) and (max-width:810px){
    .heading{
        text-align: left;
        margin: 10px 242px;
        text-decoration: underline;
    }
    #heading{
        text-align: center;
        margin: 10px 51px;
        text-decoration: underline;
    }
    .box-1{
        display: block;
        margin: 60px 50px;
        padding: 40px 128px;
    }
    .sem{
        margin: 10px 235px;
    }
}
@media (min-width: 810px) and (max-width:1200px){
    .heading{
        text-align: left;
        margin: 10px 460px;
        text-decoration: underline;
    }
    #heading{
        text-align: center;
        margin: 10px 234px;
        text-decoration: underline;
    }
    .box-1{
        display: block;
        margin: 60px 50px;
        padding: 40px 350px;
    }
    .sem{
        margin: 10px 393px;
    }
}
