.Smid{
    width: 99%;
    height: 500px;
    /* border: 2px solid red; */
}
.Smid .Smid-boxes{
    /* border: 2px solid blue; */
    display: flex;
    margin: 10px 10px;
    padding: 40px 5px;
}
.Smid .Smid-boxes .Smid-box{
    /* border: 2px solid blueviolet; */
    margin: 10px 10px;
    padding: 10px 5px;
    height: 370px;
    width: 465px;
}
.Smid .Smid-boxes .Smid-box img{
    height: 300px;
    width: 465px;
}
.Smid .Smid-boxes .Smid-box .Stext{
    text-align: center;
    /* align-items: center; */
}
.Smid .Smid-boxes .Smid-box a{
    text-decoration: none;
}
.Smid .Smid-boxes .Smid-box:hover img{ 
    opacity: 0.2;
}
.Smid .Smid-boxes .Smid-box:hover .Stext{
    opacity: 3.0;
    transform: translateY(-200px);
    transition: transform 550ms ease-in-out;
}
@media (min-width: 390px) and (max-width:600px){
    .Smid{
        width: 400px;
        height: 700px;
        /* border: 2px solid red; */
    }
    .Smid .Smid-boxes{
        /* border: 2px solid blue; */
        display: block;
        margin: 20px 20px;
        padding: 40px 5px;
    }
    .Smid .Smid-boxes .Smid-box{
        /* border: 2px solid blueviolet; */
        margin: 0px 0px;
        padding: 10px 5px;
        height: 350px;
        width: 340px;
    }
    .Smid .Smid-boxes .Smid-box img{
        height: 260px;
        width: 320px;
    }
}

