.container2{
    /* border: 2px solid blue; */
    height: 640px;
}
.tile{
    border: 2px solid black;
    border-radius: 20px;
    margin: 12px 2px;
    padding: 2px 18px;
    height: 75px;
}
.headline{
    font-size: 17px;
}